<!DOCTYPE html>
<html>
    <head>
        <title>{{pageTitle}}</title>
    </head>
    <body>
       {{> header}}
       <h1> Projects</h1>
       <p>
            Welcome to the projects page 
       </p>
    <p>test</p>
        {{> footer}}
      
    </body>
</html>